.header {
  width: 100%;
  padding: 0.6rem var(--page-padding);
  background: transparent;
}

.full {
  width: 100%;
}

.inner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-width: var(--width-small);
  padding: 0.6rem 0;
  margin: 2em auto 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
}

.title {
  text-align: left;
}

.tagline {
  line-height: 1;
  padding-bottom: 0.08em;
  text-align: left;
  color: var(--color-gray-8);
}

.instructions {
  position: relative;
  margin: 0;
  z-index: 33;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  width: 100%;
  gap: 0.3rem 0.8rem;
  margin-bottom: -0.4em;
  align-items: center;
  justify-content: space-between;
}
.instructions > span {
  margin: 0 0 0 auto;
  flex: 1 1 auto;
}
.instructions > .hints-wrapper {
  position: relative;
}
.instructions > .hints-wrapper > div.open {
  position: relative;
  left: 0;
  top: 100%;
}
.instructions > .hints-wrapper > div.open {
  background-color: var(--color-primary-2);
  padding: 2rem 0.2rem 0.2rem 0.5rem;
  border-radius: var(--radius-medium);
}
.instructions > .hints-wrapper > div > button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.instructions > .hints-wrapper > button + div {
  position: absolute;
  right: 0;
  top: -1em;
  padding: 0;
  width: clamp(200px, 90vw, 600px);
}
.instructions > .hints-wrapper > button,
.instructions > .hints-wrapper > button.closed {
  margin: 0;
  border-radius: 50%;
  font-size: 1.8em;
  padding: 0.2rem calc(0.2rem + 1px);
  gap: 0;
  min-height: 2.2rem;
  min-width: 2.2rem;
}
.instructions > .hints-wrapper > div.open > p {
  margin-top: 0.8rem;
}
@media (min-width: 500px) {
  .inner {
    margin: 6em auto 0;
  }
  .instructions > .hints-wrapper > div.open {
    position: absolute;
    left: unset;
    right: 0;
    padding: 2rem 0.5rem 0.2rem 0.8rem;
  }
  .instructions > .hints-wrapper > button,
  .instructions > .hints-wrapper > button.closed {
    min-height: 2.6rem;
    min-width: 2.6rem;
  }
  .instructions > .hints-wrapper > div.open > p {
    margin-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .inner {
    margin: 8em auto 0;
  }
}
